    <br />
    <div class="navbar navbar-inverse navbar-fixed-bottom">
     <div class="navbar-inner">
      <div class="container-fluid">
       <p class="footer">Copyright &copy; <a href="mailto:alexey.kolosov@gmail.com">Alexey Kolosov</a>, customWork 2012. All rights reserved. (SESSION_ID: <%= request.session_options[:id] %>)</p>
      </div>
     </div>
    </div>
