 <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Admin</li>
              <li><%= link_to "Users", users_path, :class=> "active" %></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
        </div><!--/.well -->
 </div><!--/span-->
